
.v5-color-bg-primary{
    background: $bg-color-primary;
}
.v5-color-bg-warning{
    background: $bg-color-warning;
}
.v5-color-bg-danger{
    background: $bg-color-danger;
}
.v5-color-bg-white{
    background: $bg-color-white;
}

.v5-color-primary{
    color:$color-primary;
}
.v5-color-warning{
    color:$color-warning;
}
.v5-color-danger{
    color:$color-danger;
}
