@for $i from 1 to 11{
    .v5-padding-t#{$i*2}{
        padding-top: ($i*2 + px);
    }
    .v5-padding-b#{$i*2}{
        padding-bottom: ($i*2 + px);
    }
    .v5-padding-l#{$i*2}{
        padding-left: ($i*2 + px);
    }
    .v5-padding-r#{$i*2}{
        padding-right: ($i*2 + px);
    }
}